.brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 11rem;
}

.brand > img{
    height: 20px;
    width:20px;
    margin-right: 10px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.brand-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
}

li{
    margin: 10px;
}

.linkss{
    margin-right: 100px;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 965px) {
    .brand-container{
        flex-direction: column;
    }
  }